@media(max-width: 600px) {
  ul li a {
    width: 300px;
  }

  h1 {
    font-size: 16px;
  }

  .checkboxes {

    text-align: left;
  }

  .modules {
    display: flex;
    flex-direction: column;
  }

  .checkboxes label {
    padding: 4px;
  }
}