* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

.videolinks {
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #4cacec;
    padding: 5px;
}

li {
    list-style: none;
}



/* Padding */
.py-1 {
    padding: 10px 0
}

.py-2 {
    padding: 20px 0
}

.py-3 {
    padding: 30px 0
}