* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #444;
  --secondary-color: chocolate;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
}

.dark {
  background-color: #333;
  color: #e6e6e6;
}

.checkboxes {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px;
}

.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 40%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 8px;
  margin-right: 10px;
}

.videolinks {
  display: none;
}

a {
  color: #f7c08a;
  text-decoration: none;
}

/* a:visited{
      color:inherit;
  } */
.container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1100px;
  padding: 0 20px;

}

.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #f7c08a;
  background: #333;
}

.btn-dark:hover {
  color: #f7c08a;
  background: #000;
}

#navbar {
  background: #333;
  position: fixed;
  color: #fff;
  width: 100%;
  z-index: 100;
}

#navbar h1 {
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
}

#navbar ul li {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  position: relative;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;

}

/* Hide nested ul by default */
#navbar ul li ul {
  display: none;
}

#navbar ul li ul li a {
  width: 100%;
}


#navbar ul li:hover {
  cursor: pointer;
  background: var(--primary-color);
  color: #f7c08a;
}

#navbar ul li:hover a {
  color: #f7c08a;
}

/* Nested dropdown show */
#navbar ul li:hover ul {
  display: block;
  position: absolute;
  left: 0;
  width: 200px;
  margin-top: 1rem;
}

#navbar ul li:hover ul li {
  display: block;
  background: #e7e7e7;
}

#navbar ul li:hover ul li a {
  color: #333;
}

#navbar ul li:hover ul li:hover {
  background: #e0e0e0;
  color: inherit;
}

#navbar ul li:hover ul li span {
  float: right;
  color: #fff;
  background: var(--primary-color);
  padding: 0.2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 5px;
}

#navbar ul li:hover ul li:hover span {
  background: var(--secondary-color);
}




.head {
  padding-top: 70px;
}

#showcase {
  background: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  background-color: #333;

}

#showcase .showcase-content {
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  padding-top: 170px;
  z-index: 10;
  opacity: 1;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#showcase .showcase-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

#about-info {

  height: 100vh;
}

#about-info .container {
  margin-top: 150px;

  display: flex;

  /* flex-direction: column; */
  text-align: center;
  justify-content: space-between;
}

#about-info h1 {
  margin-bottom: 20px;
}

#about-info .info-right {
  width: 50%;
  height: 500px;
}

#about-info .info-right img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

#about-info .info-left {
  text-align: center;

  width: 50%;
  height: 500px;
}

.l-heading {
  font-size: 40px;
}

/* .noscroll{
    overflow: hidden;
} */
.btn {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
  /* height:25px; */
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}

.btn-dark {
  background: #444;
  color: #f4f4f4;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #4cacec;
  padding: 5px;
  display: inline-block;
  width: fit-content;
}

.code {
  color: crimson;
}

@supports not (width: fit-content) {
  ul li a {
    display: inline-block;
    width: 600px;
  }
}

.main-body ul {
  padding-left: 30px;
}

li {
  list-style: decimal-leading-zero;
}

.lab li {
  list-style: none;
}

.labm ul {
  padding-left: 5px;
}

.labm .mode {
  padding-top: 10px;
}

.heading {
  font-size: 16px;
  font-weight: bold;
  margin-left: 5px;
}

/* Padding */
.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

.mod1 a {
  color: #330000;
}

.mod2 a {
  color: #003333;
}

.mod3 a {
  color: #333366;
}

.mod4 a {
  color: #660033;
}

.mod4 span a {
  color: blue;
}

.mod5 a {
  color: #330066;
}

.misc a {
  color: #330000;
}

.dark .mod2 a {
  color: rgb(90, 175, 4);
}

.dark .mod3 a {
  color: darkgoldenrod;
}

.dark .mod4 a {
  color: darkorchid;
}

.dark .mod5 a {
  color: fuchsia;
}

.dark .mod1 a {
  color: #4cacec;
}

.dark .misc a {
  color: #402ee0;
}

.text-primary {
  color: #f7c08a;
}

.main-body {
  margin-bottom: 90px;
}

/* Footer */
#main-footer {
  margin-top: 50px;
  /* height:80px; */

  padding-bottom: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* z-index:100; */
  text-align: center;
  background: #444;
  color: white;
  padding: 20px;
}

.footer-lab {
  z-index: 100;
}

/* @media(max-width: 600px) {
  #navbar ul li {
    display: block;
  }

  #navbar ul li:hover ul {
    width: 100%;
    position: relative;
  }
} */