* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;

}

.dark {
    background-color: #333;
    color: #e6e6e6;
}



.checkboxes {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.change {
    cursor: pointer;
    border: 1px solid #555;
    border-radius: 40%;
    width: 20px;
    text-align: center;
    padding: 5px;
    margin-left: 8px;
}

.videolinks {
    display: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #4cacec;
    padding: 5px;
    width: 600px;
}

ul {
    padding-left: 30px;
}

li {
    list-style: decimal-leading-zero;
}

.heading {
    font-size: 16px;
    font-weight: bold;
}

/* Padding */
.py-1 {
    padding: 10px 0
}

.py-2 {
    padding: 20px 0
}

.py-3 {
    padding: 30px 0
}

.mod1 a {
    color: #330000;
}

.mod2 a {
    color: #003333;
}

.mod3 a {
    color: #333366;
}

.mod4 a {
    color: #660033;
}

.mod5 a {
    color: #330066;
}

.dark .mod2 a {
    color: rgb(90, 175, 4);
}

.dark .mod3 a {
    color: darkgoldenrod;
}

.dark .mod4 a {
    color: darkorchid;
}

.dark .mod5 a {
    color: fuchsia;
}

.dark .mod1 a {
    color: #4cacec;
}